<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <link href="/static/bower_components/csh-material-bootstrap/dist/css/csh-material-bootstrap.css" rel="stylesheet">
        <link href="/static/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="/static/bower_components/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#b0197e">
        <meta name="theme-color" content="#B0197E">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block nav %}{% endblock %}

        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign white" style="padding-right:5px"></span> {{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>

        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="/static/bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
        <script src="/static/javascript/app.js"></script>
    </body>
</html>

