{% extends "layout.html" %}
{% block nav %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Roxas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('device_bp.index') }}"><span class="glyphicon glyphicon-phone"></span> My Devices</a></li>
                <li><a href="{{ url_for('device_bp.new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Register A Device</a></li>
                {% if is_admin %}
                    <li><a href="{{ url_for('device_bp.all') }}"><span class="glyphicon glyphicon-asterisk"></span> All Devices</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="https://profiles.csh.rit.edu/image/{{ username }}">
                        {{ display_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://profiles.csh.rit.edu/user/{{ username }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="https://members.csh.rit.edu/"><span class="glyphicon glyphicon-globe"></span> Members Portal</a></li>
                        <li><a href="https://github.com/TalCohen/roxas/issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Report an Issue</a></li>
                        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
